@import "config";

body {
  background-color: black;
  color: white;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h1 {
  font-family: "Audiowide";
  font-size: 51px;
  line-height: 60.61px;
  text-transform: uppercase;
}

h2 {
  font-family: "Audiowide";
  text-transform: uppercase;
  font-style: normal;
  font-size: 38px;
  line-height: 45.48px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
  font-family: "DM Mono";
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;
}

.meta-logo {
  width: 123px;
  height: 32px;
}

.society__links {
  display: grid;
  grid-template-columns: repeat(4, 36px);
  grid-gap: 10px;
}

.society {
  display: inline-block;
  transition: all 0.1s ease;
  font-size: 0;
  width: 36px;
  height: 36px;
}

.society:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 1px 2px $green;
}

.society:active {
  transform: scale(1);
  box-shadow: 0px 0px 1px 2px darken($green, 20%);
}

.button {
  transition: all 0.1s ease;
}

.button:hover {
  box-shadow: 0px 0px 5px 5px white;
  transform: scale(1.05);
}

.button:active {
  box-shadow: 0px 0px 5px 5px darken(white, 20%);
  background-color: darken($green, 10%);
  transform: scale(0.98);
}

.discord__join_button:hover {
  .discord {
    animation: discord-rotate linear 0.75s;
  }
}

@keyframes discord-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wave-collection__button:hover {
  background-color: $green;
  color: black;
}

.navigation-item {
  transition: all 0.1s ease;
}

.navigation-item:hover {
  color: $green;
  transform: scale(1.2);
}

.navigation-item:active {
  color: darken($green, 20%);
  transform: scale(1);
}
