.header {
  .header__wrapper {
    height: 86px;
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 14px;
    padding-left: 9.75%;
    padding-right: 9.75%;
  }
}

.header .header__logo {
  margin-right: 40px;
}

.navigation-item {
  display: table;
  vertical-align: middle;
  text-align: center;
}

.header__navigation {
  display: flex;
}

.header .header__navigation a {
  margin-right: 40px;
}

.header .society__links {
  margin-left: auto;
}

.twitter {
  background: white url("../img/twitter.png") no-repeat 50%;
}

.discord {
  background: white url("../img/discord.png") no-repeat 50%;
}

.youtube {
  background: white url("../img/youtube.png") no-repeat 50%;
}

.telegram {
  background: white url("../img/telegram.png") no-repeat 50%;
}

.linked_in {
  background: white url("../img/linked_in.png") no-repeat 50%;
} /**/
