.wave-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
  max-width: 1160px;
}

.wave-collection__item {
  margin-left: 40px;
  margin-right: 10px;
}

.wave-collection__item h2 {
  max-width: 351px;
  margin: 0;
  margin-left: 66px;
  margin-bottom: 42px;
}
.wave-collection__item h2 span {
  color: rgba(168, 168, 168, 1);
}

.wave-collection__description {
  max-width: 551px;
  .wave-collection__text {
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 30px;
  }
}

.blockquote {
  font-family: "DM Mono";
  font-size: 21px;
  line-height: 32px;
  color: rgba(141, 253, 27, 1);
  padding-left: 22px;
  margin: 0;
  margin-bottom: 10px;
  border-left: 2px solid rgba(141, 253, 27, 1);
}

.wave-collection .wave-collection__button {
  display: table;
  text-align: center;
  line-height: 42px;
  width: 244px;
  height: 40px;
  border: 1px solid rgba(141, 253, 27, 1);
}
