/*general styles*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
$green: rgba(141, 253, 27, 1);
$greeen-darken: darken($green, 20%);
$gray: rgba(34, 34, 34, 1);

body {
  background-color: black;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h1 {
  font-family: "Audiowide";
  font-size: 51px;
  line-height: 60.61px;
  text-transform: uppercase;
}

h2 {
  font-family: "Audiowide";
  text-transform: uppercase;
  font-style: normal;
  font-size: 38px;
  line-height: 45.48px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
  font-family: "DM Mono";
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.meta-logo {
  width: 123px;
  height: 32px;
}

.society {
  display: inline-block;
  font-size: 0;
  width: 36px;
  height: 36px;
}

.society:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 1px 2px $green;
}

.society:active {
  transform: scale(1);
  box-shadow: 0px 0px 1px 2px darken($green, 20%);
}

.button:hover {
  box-shadow: 0px 0px 5px 5px white;
  color: white;
  transform: scale(1.05);
}

.discord__join_button:hover {
  .discord {
    animation: discord-rotate linear 0.75s;
  }
}

@keyframes discord-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  box-shadow: 0px 0px 5px 5px darken(white, 20%);
  background-color: darken($green, 10%);
  transform: scale(0.98);
}

.wave-collection__button:hover {
  background-color: $green;
  color: black;
}

.navigation-item:hover {
  color: $green;
  transform: scale(1.2);
}

.navigation-item:active {
  color: darken($green, 20%);
  transform: scale(1);
}
/*HEADER*/

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 86px;
  padding-bottom: 14px;
  padding-left: 140px;
  padding-right: 140px;
}

.header .header__logo {
  margin-right: 40px;
}

.navigation-item {
  display: table;
  vertical-align: middle;
  text-align: center;
}

.header .header__navigation a {
  display: inline-block;
  margin-right: 40px;
}

.header .header__navigation a:last-child {
  margin-right: 0;
}

.header .society__links {
  margin-left: auto;
}

.society__links .society {
  margin-right: 12px;
}

.society__links .society:last-child {
  margin-right: 0;
}

.twitter {
  background: white url("img/twitter.png") no-repeat 50%;
}

.discord {
  background: white url("img/discord.png") no-repeat 50%;
}

.youtube {
  background: white url("img/youtube.png") no-repeat 50%;
}

.telegram {
  background: white url("img/telegram.png") no-repeat 50%;
}

.linked_in {
  background: white url("img/linked_in.png") no-repeat 50%;
}

/*COMPANY INFO*/

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 121px;
}

.company-info__item {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 128px;
  margin-left: 72px;
}

.company-info__item h1 {
  margin-bottom: 43px;
}

.company-info__item p {
  max-width: 340px;
  margin-bottom: 115px;
}

.company-info__img {
  max-width: 865px;
}

.company-info__button {
  display: table;
  width: 205px;
  height: 60px;
  background-color: #8dfd1b;
  color: black;
  text-align: center;
  line-height: 60px;
}

/*wave collection PART*/
.wave-collection {
  display: flex;
  margin-bottom: 113px;
}

.wave-collection__item {
  margin-left: 40px;
}

.wave-collection__item h2 {
  width: 351px;
  margin: 0;
  margin-left: 106px;
  margin-bottom: 42px;
}
.wave-collection__item h2 span {
  color: rgba(168, 168, 168, 1);
}

.wave-collection__description {
  max-width: 551px;
  margin-left: 161px;
}

.blockquote {
  font-family: "DM Mono";
  font-size: 21px;
  line-height: 32px;
  color: rgba(141, 253, 27, 1);
  padding-left: 22px;
  margin: 0;
  border-left: 2px solid rgba(141, 253, 27, 1);
}

.wave-collection .wave-collection__button {
  display: table;
  text-align: center;
  line-height: 42px;
  width: 244px;
  height: 40px;
  border: 1px solid rgba(141, 253, 27, 1);
}

/* artists logo PART */
.running-str {
  height: 88px;
  margin-bottom: 127px;
  overflow: hidden;
}

.wrapper__item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.wrapper__item div {
  white-space: nowrap;
  width: 100%;
}

.wrapper {
  width: 200%;
  display: flex;
  font-family: "Audiowide";
  text-transform: uppercase;
  font-size: 79px;
  line-height: 88px;
  animation: run 5s linear infinite;
}

@keyframes run {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/*ANIMATION STR*/

/********************************/

/*<!-- people PART-->*/

.people {
  display: grid;
  grid-template-columns: repeat(auto-fill, 245px);
  grid-column-gap: 60px;
  grid-row-gap: 80px;
  grid-auto-flow: row;
  margin-left: 40px;
  margin-bottom: 178px;
  text-align: center;
}

.people__item {
  width: 245px;
}

/*<!-- story PART-->*/

.story {
  width: 1160px;
  height: 645px;
  margin-bottom: 120px;
}

.story h2 {
  text-align: center;
}

.story h2 span {
  color: rgba(168, 168, 168, 1);
}

.story-main {
  display: flex;
}

.story-list {
  width: 282px;
}

.story-list__item.active {
  background-color: $gray;
  color: $green;
}

.story-list__item.active {
  display: block;
}

.story-list__item {
  display: block;
  width: 282px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: black;
  border: none;
  color: white;
}

.story-list__item:hover {
  color: $green;
}

.story-list__item_description {
  display: flex;
  justify-content: left;
  background-color: rgba(34, 34, 34, 1);
  width: 818px;
  height: 478px;
  padding-top: 60px;
  padding-left: 60px;
}

.story-list__item_description {
  display: none;
}

.story-list__item_description.active {
  display: flex;
}

.story-list__item_description img {
  width: 172px;
  height: 253px;
  padding-right: 40px;
}

.story-list__item_description_sidebar {
  width: 530px;
}

/*EOADMAP*/
.roadmap {
  position: relative;
  top: 0;
  left: 0;
}

.roadmap h2 {
  text-align: center;
  margin-bottom: 106px;
}

.roadmap_img {
  margin-bottom: 118px;
}

.roadmap-list {
  margin: 0 auto;
  display: flex;
  width: 540px;
  flex-direction: column;
}

.roadmap-item {
  width: 538px;
  height: 269px;
  border: 1px solid rgba(141, 253, 27, 1);
  margin-bottom: 140px;
  padding-bottom: 30px;
  background-color: rgba(34, 34, 34, 1);
  z-index: 111;
}

.roadmap-item:last-child {
  margin-bottom: 286px;
}

.roadmap-item_header {
  display: flex;
  font-size: 11px;
  border-bottom: 1px solid rgba(141, 253, 27, 1);
  padding-bottom: 12px;
  margin-bottom: 29px;
}

.roadmap-item_header p {
  margin: 0;
}

.roadmap-item_header .number {
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 28px;
  line-height: 44px;
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 12px;
  border: 1px solid rgba(141, 253, 27, 1);
}

.roadmap-item_header_side {
  margin-top: 16px;
  text-transform: uppercase;
}

.roadmap-item_header_side p:first-child {
  font-family: "DM Mono";
  font-size: 8px;
  line-height: 12px;
  color: rgba(141, 253, 27, 1);
}

.roadmap-item_header_side p:last-child {
  font-family: "DM Mono";
  font-size: 16px;
  line-height: 27.73px;
}

.roadmap-item_description__list {
  display: flex;
  justify-content: space-between;
}

.roadmap-item_description {
  font-size: 11px;
}

.roadmap-item_description p {
  margin-left: 13px;
  width: 301px;
}

.roadmap-item_description ul {
  margin-left: 35px;
}

.roadmap_img {
  position: relative;
  margin-right: 13px;
  /*align-self: flex-start;*/
}

.roadmap-svg {
  position: absolute;
  width: 671px;
  height: 671px;
}

.roadmap-svg_1 {
  top: 129.5px;
  left: 24.5px;
}

.roadmap-svg_2 {
  top: 1298.5px;
  left: 24.5px;
}

.roadmap-svg_3 {
  top: 598.5px;
  right: 24.5px;
}

.roadmap_svg__line__1 {
  position: absolute;
  top: 856px;
  left: 720px;
}

.roadmap_svg__line__2 {
  position: absolute;
  top: 1296px;
  left: 720px;
}
/*PARTNERS*/
.partners {
  margin-bottom: 245px;
}

.partners__logoholder {
  display: grid;
  grid-template-columns: 322px 322px 322px;
  grid-row-gap: 61px;
  grid-column-gap: 86px;
  margin-left: 52.95px;
}

.partners_title {
  font-family: "DM Mono";
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 51px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(141, 253, 27, 1);
}

/*QUESTIONS*/

.questions {
  display: flex;
  margin-left: 99px;
  margin-bottom: 108px;
}

.questions_left-side {
  max-width: 360px;
  margin-right: 220px;
}

.questions_left-side span {
  color: rgba(168, 168, 168, 1);
}

.questions_left-side h2 {
  margin-bottom: 51px;
  width: inherit;
}

.questions_list {
  background-color: rgba(34, 34, 34, 1);
  max-width: 580px;
}

.questions_list dt {
  display: flex;
  justify-content: space-between;
  font-family: "DM Mono";
  margin-left: 31px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 21px;
}

.questions_list dd {
  font-size: 12px;
  margin-bottom: 29px;
  margin-left: 31px;
  margin-right: 35px;
}

/*TEAM*/

.team {
  margin-bottom: 235.86px;
}

.team .running-str {
  margin-bottom: 120px;
}

.team__people {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  margin-left: 139px;
  text-align: center;
}

.team__people_item {
  width: 320px;
}

.team__people_name {
  font-family: "DM Mono";
  text-transform: uppercase;
  font-size: 21px;
  line-height: 27.73px;
}

.team__people_role {
  font-family: "DM Mono";
  font-size: 12px;
  line-height: 11px;
  color: rgba(141, 253, 27, 1);
  text-transform: uppercase;
}

/*DISCORD*/

.discord__info {
  display: flex;
  justify-content: space-between;
  margin-left: 136px;
  margin-right: 136px;
}

.discord__join {
  max-width: 483px;
  margin-top: 146px;
}

.discord__join h2 {
}

.discord__join span {
  color: rgba(141, 253, 27, 1);
}

.discord__join p {
  max-width: 345px;
  margin-bottom: 35px;
}

.discord__join_img {
  max-width: 584px;
}

.discord__join_button {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 43px;
  background: #8dfd1b;
}

.discord__join_button .discord {
  background-color: transparent;
}

/*FOOTER*/
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer {
  padding: 100px 140px 120px 140px;
  margin-top: 118px;
  background-color: rgba(66, 0, 106, 1);
  height: 138px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__col p {
  font-family: "DM Mono";
  margin: 0;
}

.footer__col p {
  font-size: 13px;
}

.footer__col_4 {
  font-size: 13px;
  justify-content: flex-start;
}

.footer__col_5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
